* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
video {
    height: 100%;
    width: 100%; 
    object-fit: cover;
    position: fixed;
    left: 0;
    top:0;
}
header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-size: 100px;
    font-family: STKaiti;
    position: relative;
    letter-spacing: 20px;
    clear: both;
}

article {
    background: rgb(0, 0, 0,0.4);
    position: relative;
    color: white;
    height: 100%;
    width: 100%;
}
article p {
    width: 600px;
    margin: 0 auto;
    font-size: 26px;
    padding-top: 100px;
}
.topsticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 999px;
    background-color: rgb(62, 92, 122);
    color: aliceblue;
    min-width:290px;
}
img {
    width:80px;
    margin: 0px;
    padding: 0px;
}
div input[type="button"] {
    background-color:rgb(36, 142, 196);
    color: white;
    border: 1px outset grey;
    height:100%;
    width: 80px;
    float:right;
    margin:5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

